{% extends "base.html.twig" %}
{% block body %}
{% include "home/nav.html.twig" %}
{# <div class="pb-6 mx-auto max-w-7xl py-6 sm:px-6 lg:px-8"> #}
<div class="pb-6 mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
<div class="container mx-auto py-8">
<h1 class="text-2xl font-semibold mb-6">Historique</h1>
<div class="overflow-x-auto border-t-2 border-b-2 border-blue-500 p-4">
 {# {% for item in items %} #}
 {# <div> #}
 <p class="text-gray-700 text-lg font-semibold  "> Date : 24/02/2021</p> <br>
    <p class="text-gray-700 text-lg font-semibold  py-2">Bonjour</p>
 {# </div>   #}
 {# {% endfor %} #}
  
</div>
</div>
</div>  
{# </div> #}
{% endblock %}