{% extends 'base.html.twig' %}
{% block body %}
<section class="bg-gray- dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
  <img class="w-8 h-8 mr-2" src="{{asset('images/logoTT.jpg')}}" alt="logo">
  Tunisie Telecome   
</a>
      <div class=" w-full bg-white rounded-lg md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-sky-800 shadow dark:border     ">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="ml-5 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                Créer votre compte
              </h1>
              
              {{ form(form) }}
          
          </div>
      </div>
  </div>
</section>




{% endblock %}
            